<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="urlGroup">
            <section
                name="url"
                type="BJN.Domain.Config.UrlSection" />
        </sectionGroup>
    </configSections>
    <urlGroup>
        <url>
            <baseUrl name="https://api.bluejeans.com" />
        </url>
    </urlGroup>
</configuration>